---
import BaseLayout from "../layouts/BaseLayout.astro";

import { AgendaDayOne } from "../agenda";
---

<BaseLayout title="Agenda">
  <div class="flex flex-col items-center justify-center bg-yellow py-8">
    <h3 class="my-8 text-black-900 font-bold text-xl sm:text-3xl">
      Day 1 (24 August 2024)
    </h3>
    <ul class="timeline timeline-vertical">
        {AgendaDayOne.map((agenda) =>
      <li>
        <hr />
        
        <div class="timeline-start">{agenda.time}</div>
        <div class="timeline-end timeline-box font-black-900">
            <div class="text-lg font-bold">
                {agenda.agenda}
            </div>
            <div class="text-sm font-semibold">
                {agenda.subtitle}    
            </div>
            <div class="text-sm font-normal">
                {agenda.location}
            </div>
            
        </div>
        
        <hr />
      </li>
      )}
    </ul>
  </div>
</BaseLayout>

<style>
.timeline-start{
    @apply self-baseline;
    @apply px-3
}
.timeline-end{
    @apply px-3
}
hr {
    @apply bg-pink;
}
</style>