---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Agenda">
  <h3 class="text-center my-4 md:my-16 text-black font-bold text-xl sm:text-4xl font-autobus">
    Agenda_
  </h3>
  <div class="md:px-12">
    <img src="/assets/day1_1.png" />
    <img src="/assets/day1_2.png" />
  </div>
  <div class="md:px-12 mt-12">
    <img src="/assets/day2_1.png" />
    <img src="/assets/day2_2.png" />
  </div>
</BaseLayout>
