---
import BaseLayout from "../layouts/BaseLayout.astro";
import SpeakerCard from "../components/SpeakerCard.astro";
import { PreviousSpeakerLists } from "../previousSpeakers";
---

<BaseLayout title="PyCon MY Previous Speakers">
    <div class="flex flex-col items-center justify-center bg-yellow py-8">
        <h1 class="font-bold text-black-800 text-xl sm:text-3xl pt-16">Previous Speakers</h1>
            <div class="flex flex-wrap justify-center gap-2 mt-4">
            {PreviousSpeakerLists.map(s => (
                    <SpeakerCard img={s.img} name={s.name} />
            ))}

        </div>
    </div>
</BaseLayout>