---
import Default from "../layouts/Default.astro";
import Hero from "../components/index/Hero.astro";
import Speaker from "../components/index/Speaker.astro";
import Sponsors from "../components/index/Sponsors.astro";
---

<Default>
  <Hero />
  <div class="divider divider-neutral"></div>
  <Speaker />
  <div class="divider divider-neutral"></div>
  <Sponsors />
</Default>
