---
import Default from "../layouts/Default.astro";
import HeroImage from "../components/index/HeroImage.astro";
// import About from "../components/index/About.astro";
import Speaker from "../components/index/Speaker.astro";
// import Sponsors from "../components/index/Sponsors.astro";
import RegisterButton from "../components/index/RegisterButton.astro";
import CallToAction from "../components/index/CallToAction.astro";
import Countdown from "../components/index/Countdown.astro";
---

<Default>
  <div class="bg-[#01ADEF]">
    <HeroImage />
    <CallToAction />
    <div class="divider divider-neutral"></div>
    <Speaker />
    <div class="divider divider-neutral"></div>
    <Countdown />

    <!-- <div class="divider divider-neutral"></div> -->
    <RegisterButton />
    <!-- 
   
    <div class="divider divider-neutral"></div>
    <About />
    <RegisterButton />
     <div class="divider divider-neutral"></div>
    <Sponsors /> -->
  </div>
</Default>
