---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Previous PyCon MY">
  <div class="bg-zinc py-8 text-black-900">
    <div class="px-4 md:px-12 flex flex-col items-center justify-center">
      <h1 class="font-bold text-black-800 text-xl sm:text-3xl pt-16 pb-4">
        Past PyCon MY Events
      </h1>
      <ul
        class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical"
      >
        <li>
          <div class="timeline-middle">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="h-5 w-5"
              ><path
                fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                clip-rule="evenodd"></path></svg
            >
          </div>
          <div class="timeline-start md:text-end mb-10">
            <time class="font-mono italic">2014</time>
            <div class="text-lg font-black">
              Humble Beginning - Mini PyCon MY 2014
            </div>
            PyCon MY commenced its journey in 2014, marking the inaugural conference
            held in Malaysia. Taking place in April, the event garnered participation
            from 70 individuals, including software developers and students, drawing
            a diverse audience from the United States, Singapore, and Malaysia.
          </div>
          <div class="timeline-end mb-10">
            <img
              class="h-auto w-full rounded-xl"
              src="/media/pycon2014.jpg"
              alt="pycon 2014"
            />
          </div>
          <hr />
        </li>
        <li>
          <hr />
          <div class="timeline-middle">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="h-5 w-5"
              ><path
                fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                clip-rule="evenodd"></path></svg
            >
          </div>
          <div class="timeline-start md:timeline-end mb-10">
            <time class="font-mono italic">2015</time>
            <div class="text-lg font-black">PyCon MY 2015</div>
            Building on this foundation, PyCon MY 2015 unfolded at the Faculty of
            Computer Science and Information Technology, University of Malaya. With
            over 170 attendees, the conference encompassed insightful talks on cloud
            services, software development, and Python best practices. Keynote speakers
            were Marcus Low and Mark Rees.
          </div>
          <div class="timeline-end md:timeline-start md:text-end mb-10">
            <img
              class="h-auto w-full rounded-xl"
              src="/media/pycon2015.jpg"
              alt="pycon 2015"
            />
          </div>
          <hr />
        </li>
        <li>
          <hr />
          <div class="timeline-middle">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="h-5 w-5"
              ><path
                fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                clip-rule="evenodd"></path></svg
            >
          </div>
          <div class="timeline-start md:text-end mb-10">
            <time class="font-mono italic">2016</time>
            <div class="text-lg font-black">PyCon MY 2016</div>
            PyCon MY was held at the International University of Malaya- Wales, attracting
            nearly 120 participants. The event featured a spectrum of topics ranging
            from software development to Python applications in data science and
            machine learning, solidifying its position as a hub for multifaceted
            discussions. The Keynote speakers were Tarek Ziadé and Steve Holden.
          </div>
          <div class="timeline-end mb-10">
            <img
              class="h-auto w-full rounded-xl"
              src="/media/pycon2016.jpg"
              alt="pycon 2016"
            />
          </div>
          <hr />
        </li>
        <li>
          <hr />
          <div class="timeline-middle">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="h-5 w-5"
              ><path
                fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                clip-rule="evenodd"></path></svg
            >
          </div>
          <div class="timeline-start md:timeline-end mb-10">
            <time class="font-mono italic">2017</time>
            <div class="text-lg font-black">PyCon APAC 2017</div>
            The pinnacle of PyCon MY's journey arrived in 2017 when Malaysia hosted
            PyCon APAC for the first time. This landmark event drew nearly 300 participants,
            including speakers with diverse backgrounds. The conference not only
            received support from Python communities in the APAC region but also
            welcomed attendees from Europe and America, showcasing its global prominence.
            Keynote speakers was Jessica Mckellar.
          </div>
          <div class="timeline-end md:timeline-start md:text-end mb-10">
            <img
              class="h-auto w-full rounded-xl"
              src="https://placehold.co/600x400/png"
              alt="pycon 2017"
            />
          </div>
          <hr />
        </li>
        <li>
          <hr />
          <div class="timeline-middle">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="h-5 w-5"
              ><path
                fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                clip-rule="evenodd"></path></svg
            >
          </div>
          <div class="timeline-start md:text-end mb-10">
            <time class="font-mono italic">2018</time>
            <div class="text-lg font-black">PyCon MY 2018</div>
            Returning to the University of Malaya in 2018, PyCon MY welcomed close
            to 150 participants and initiated a project to invite local developers
            as speakers, fostering a sense of community engagement. Keynote speakers
            were Khairil Yusof and Choong Yue Lin.
          </div>
          <div class="timeline-end mb-10">
            <img
              class="h-auto w-full rounded-xl"
              src="https://placehold.co/600x400/png"
              alt="pycon 2018"
            />
          </div>
          <hr />
        </li>

        <li>
          <hr />
          <div class="timeline-middle">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="h-5 w-5"
              ><path
                fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                clip-rule="evenodd"></path></svg
            >
          </div>
          <div class="timeline-start md:timeline-end mb-10">
            <time class="font-mono italic">2019</time>
            <div class="text-lg font-black">PyCon MY 2019</div>
            In 2019, the event moved to iSpace, Plaza VADS, witnessing increased
            volunteer participation, a notable shift in the gender ratio, and an
            enriched program featuring open-space talks and tutorials. Keynote speakers
            were Carol Willing and Dr. Poo Kuan Hoong.
          </div>
          <div class="timeline-end md:timeline-start md:text-end mb-10">
            <img
              class="h-auto w-full rounded-xl"
              src="/media/pycon2019.jpg"
              alt="pycon 2019"
            />
          </div>
          <hr />
        </li>

        <li>
          <hr />
          <div class="timeline-middle">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="h-5 w-5"
              ><path
                fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                clip-rule="evenodd"></path></svg
            >
          </div>
          <div class="timeline-start md:text-end mb-10">
            <time class="font-mono italic">2020</time>
            <div class="text-lg font-black">PyCon APAC 2020</div>
            <p>
              The challenges posed by the COVID-19 pandemic in 2020 led PyCon
              APAC to adopt a virtual format, attracting around 200 participants
              globally. The conference spanned two weekends and four days,
              emphasizing tutorial sessions and panel discussions on pertinent
              Python issues.
            </p>
            <p class="mt-2">
              Leveraging on virtual conference, we managed to curate an esteemed
              lineup of international speakers, notably the eminent Python
              creator, Guido van Rossum, along with representatives from the
              Python Software Foundation and notable experts in the Python
              communities.
            </p>
            <p class="mt-2">
              In a strategic move towards broader community engagement, this
              edition of PyCon MY marked the initiation of a collaborative
              partnership with Kinabalu Coders, further enhancing our commitment
              to impactful community outreach initiatives.
            </p>
          </div>
          <div class="timeline-end mb-10">
            <img
              class="h-auto w-full rounded-xl"
              src="https://placehold.co/600x400/png"
              alt="pycon 2020"
            />
          </div>
          <hr />
        </li>

        <li>
          <hr />
          <div class="timeline-middle">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="h-5 w-5"
              ><path
                fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                clip-rule="evenodd"></path></svg
            >
          </div>
          <div class="timeline-start md:timeline-end mb-10">
            <time class="font-mono italic">2021</time>
            <div class="text-lg font-black">PyCon MY 2021</div>
            PyCon MY 2021, adapting to ongoing circumstances, hosted a one-day virtual
            event with two sessions, encompassing conference talks and tutorial sessions.
            It was a 2-track event with 1 keynote speech by Dr. Lau Cher Han, the
            founder of CoronaTracker.com, 11 talks, and 6 tutorials. The virtual
            conference was supported by over 70 attendees from all over the world.
          </div>
          <div class="timeline-end md:timeline-start md:text-end mb-10">
            <img
              class="h-auto w-full rounded-xl"
              src="https://placehold.co/600x400/png"
              alt="pycon 2021"
            />
          </div>
          <hr />
        </li>

        <li>
          <hr />
          <div class="timeline-middle">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="h-5 w-5"
              ><path
                fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                clip-rule="evenodd"></path></svg
            >
          </div>
          <div class="timeline-start md:text-end mb-10">
            <time class="font-mono italic">2022</time>
            <div class="text-lg font-black">PyCon MY 2022</div>
            <p>
              In 2022, marking a gradual return to physical events, PyCon MY
              hosted a modest yet impactful gathering in Kota Kinabalu, Sabah,
              consisting of three sprints covering web application building and
              robotic applications using Micropython, in alignment with lifted
              government restrictions on public gatherings and travel.
            </p><p class="mt-2">
              Adhering meticulously to prescribed guidelines, this edition of
              PyCon embraced a distinctive format, functioning as an immersive
              camp experience, hosting approximately 30 participants.
            </p>
          </div>
          <div class="timeline-end mb-10">
            <img
              class="h-auto w-full rounded-xl"
              src="https://placehold.co/600x400/png"
              alt="pycon 2022"
            />
          </div>
          <hr />
        </li>

        <li>
          <hr />
          <div class="timeline-middle">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="h-5 w-5"
              ><path
                fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                clip-rule="evenodd"></path></svg
            >
          </div>
          <div class="timeline-start md:timeline-end mb-10">
            <time class="font-mono italic">2023</time>
            <div class="text-lg font-black">PyCon MY 2023</div>
            <p>
              The conference, hosted at the prestigious University of Malaya,
              witnessed a noteworthy resurgence, drawing an attendance of around
              100 participants.
            </p>
            <p class="mt-2">
              The event showcased a robust agenda featuring 2 insightful
              keynotes, 10 engaging talks, 1 comprehensive tutorial, and 5
              illuminating lightning talks, with distinguished speakers
              including Max Ong from Singapore and Thevesh Theva, a civil
              servant hailed from Malaysia.
            </p>
          </div>
          <div class="timeline-end md:timeline-start md:text-end mb-10">
            <img
              class="h-auto w-full rounded-xl"
              src="/media/pycon2023.jpg"
              alt="pycon 2023"
            />
          </div>
          <hr />
        </li>
      </ul>
    </div>
  </div>
</BaseLayout>

<style>
  .timeline-start{
      @apply self-baseline;
      @apply px-3
  }
  .timeline-end{
      @apply px-3
  }
  hr {
      @apply bg-pink;
  }
  </style>