---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="About The Python Software Foundation"
	description="About The Python Software Foundation"
	pubDate={new Date("March 21 2024")}
	heroImage="/the-psf.jpg"
>
	<div class="prose">
		<p class="text-justify">
			The mission of the Python Software Foundation is to promote, protect, and advance the Python programming language, and to support and facilitate the growth of a diverse and international community of Python programmers.
		</p>    
        <h3>
            The following is the official mission statement of the PSF</h3>
        <p class="text-justify italic">
            The Python Software Foundation (PSF) is a non-profit membership organization devoted to advancing open source technology related to the Python programming language. It qualifies under the US Internal Revenue Code as a tax-exempt 501(c)(3) scientific and educational public charity, and conducts its business according to the rules for such organizations.
        </p>
        <h3>The PSF</h3>
        <ol class="text-justify">
            <li>
                Produces the core Python distribution, made available to the public free of charge. This includes the Python language itself, its standard libraries and documentation, installers, source code, educational materials, and assorted tools and applications.
            </li>
            <li>
                Establishes PSF licenses, ensuring the rights of the public to freely obtain, use, redistribute, and modify intellectual property held by the PSF.
            </li>
            <li>
                Works with the Open Source Initiative to ensure that PSF licenses conform to the Open Source Definition.
            </li>
            <li>
                Holds Python's intellectual property rights for releases 2.1 and following.
            </li>
            <li>
                Seeks to obtain the intellectual property rights for Python releases prior to 2.1, for relicensing under the PSF Python license, to relieve the legal burden on Python's users. The PSF may also seek rights to other Python-related software for relicensing under a PSF license.
            </li>
            <li>
                Protects the Python name, and the names, service marks and trademarks associated with all other intellectual property held by the PSF.
            </li>
            <li>
                Solicits and manages contributions to the Python codebase, and may perform these services on behalf of other open source Python-related codebases.
            </li>
            <li>
                Raises funds to support PSF programs and services. The regulations for public charity funding are complex. Some consequences are that the vast bulk of funding must come from private contributions (including sponsoring memberships) and public grants, must come from a broad base, and that no single private donor can supply a substantial percentage of the PSF's total funding. Additional revenue may be pursued in ways consistent with then-current rules for public charities and with Python's standing as an open source project. For example, the PSF may offer to sell conference proceedings, special Python distributions, or merchandise with distinctive insignia.
            </li>
            <li>
                Publicizes, promotes the adoption of, and facilitates the ongoing development of Python-related technology and educational resources. This includes, but is not limited to, maintaining a public web site, planning Python conferences, and offering grants to Python-related open source projects.
            </li>
            <li>
                Encourages and facilitates Python-related research in the public interest.
            </li>
        </ol>
        <p class="text-justify">
            "Open source" is defined as: freely available technology licensed under terms compatible with Version 1.9 (or later) of the Open Source Definition, as established by the 
            <a href="http://www.opensource.org/" target="_">
                Open Source Initiative
            </a>
        </p>
	</div>
</Layout>
