---
import Default from "../layouts/Default.astro";
---

<Default>
  <div class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
        <h1 class="lg:text-6xl text-center font-bold text-primary text-2xl">
          Our Volunteer Team
        </h1>
        <p
          class="my-6 max-w-2xl mx-auto text-center text-xl text-secondary font-semibold"
        >
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo incidunt
          ex placeat modi magni quia error alias, adipisci rem similique, at
          omnis eligendi optio eos harum.
        </p>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="p-4 lg:w-1/2">
          <div
            class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left rounded-xl border-4 shadow-lg shadow-black hover:border-4 hover:border-secondary border-primary"
          >
            <img
              alt="team"
              class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4"
              src="/blank.png"
            />
            <div class="flex-grow sm:pl-8">
              <h2 class="title-font font-bold text-2xl text-primary">
                Holden Caulfield
              </h2>
              <h3 class="text-secondary text-xl font-semibold mb-3">
                UI Developer
              </h3>
              <p class="mb-4 text-secondary">
                DIY tote bag drinking vinegar cronut adaptogen squid fanny pack
                vaporware.
              </p>
              <a href={"/"}>
                <svg
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                  class="text-secondary"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  ><path
                    d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"
                  ></path></svg
                >
              </a>
            </div>
          </div>
        </div>
        <div class="p-4 lg:w-1/2">
          <div
            class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left rounded-xl border-4 shadow-lg shadow-black hover:border-4 hover:border-secondary border-primary"
          >
            <img
              alt="team"
              class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4"
              src="/blank.png"
            />
            <div class="flex-grow sm:pl-8">
              <h2 class="title-font font-bold text-2xl text-primary">
                Holden Caulfield
              </h2>
              <h3 class="text-secondary text-xl font-semibold mb-3">
                UI Developer
              </h3>
              <p class="mb-4 text-secondary">
                DIY tote bag drinking vinegar cronut adaptogen squid fanny pack
                vaporware.
              </p>
              <a href={"/"}>
                <svg
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                  class="text-secondary"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  ><path
                    d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"
                  ></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="p-4 lg:w-1/2">
          <div
            class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left rounded-xl border-4 shadow-lg shadow-black hover:border-4 hover:border-secondary border-primary"
          >
            <img
              alt="team"
              class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4"
              src="/blank.png"
            />
            <div class="flex-grow sm:pl-8">
              <h2 class="title-font font-bold text-2xl text-primary">
                Holden Caulfield
              </h2>
              <h3 class="text-secondary text-xl font-semibold mb-3">
                UI Developer
              </h3>
              <p class="mb-4 text-secondary">
                DIY tote bag drinking vinegar cronut adaptogen squid fanny pack
                vaporware.
              </p>
              <a href={"/"}>
                <svg
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                  class="text-secondary"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  ><path
                    d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"
                  ></path></svg
                >
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full">
        <div
          class="relative items-center w-full px-5 py-12 mx-auto md:px-12 lg:px-16 max-w-7xl lg:py-24"
        >
          <div class="flex w-full mx-auto text-left">
            <div class="relative inline-flex items-center mx-auto align-middle">
              <div class="pb-12 text-center">
                <h1
                  class="max-w-5xl text-2xl font-bold leading-none tracking-tighter text-primary md:text-5xl lg:text-6xl lg:max-w-7xl mb-8"
                >
                  Interested Joining the Team?
                </h1>
                <div>Sorry too late :P</div>
                <!-- <a
                  href={"https://forms.gle/reDqVTtMcSgU91ud6"}
                  class="w-1/12 mx-auto px-5 py-3 text-base text-white bg-secondary font-bold border border-transparent rounded-lg shadow hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 sm:px-10"
                  >JOIN TODAY</a
                > -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Default>
