---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<nav
  class="fixed top-0 z-20 w-full mb-10 bg-white border-b border-gray-200 dark:bg-gray-900 start-0 dark:border-gray-600"
>
  <div
    class="flex flex-wrap items-center justify-between max-w-screen-xl p-4 mx-auto"
  >
    <!-- REMARKS : Logo is the Home button -->
    <a class="flex items-center space-x-3 rtl:space-x-reverse" href="/">
      <img src="/pyconmy.svg" class="h-8" alt="PyCon MY Logo" />
      <span
        class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
        >{SITE_TITLE}
      </span>
    </a>

    <!-- REMARKS : Put aside Login feature for now -->
    <!-- <div class="flex space-x-3 md:order-2 md:space-x-0 rtl:space-x-reverse">
      <button
        type="button"
        class="px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >Login
      </button>
    </div> -->

    <div>
      <ul
        class="flex flex-col p-4 mt-4 font-medium border border-gray-100 rounded-lg md:p-0 bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
      >
        <!-- 
          REMARKS :
          - NavBar Tab as per Kristy's draft: Home - PyCon PSF - Code of Conduct - Sponsors - Speakers - Events - Membership - Contact 
          - chevron-down from https://heroicons.com/
          - Revised 1: removed Home
          - Revised 2: Put PyCon PSf and Code of Conduct under About dropdown
        -->

        <!-- Mobile view -->
        <div class="navbar-start">
          <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="m19.5 8.25-7.5 7.5-7.5-7.5"
                >
                </path>
              </svg>
            </div>
            <ul
              tabindex="0"
              class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
            >
              <li>
                <details>
                  <summary>About</summary>
                  <ul class="p-2">
                    <li><a href="/about">About PyCon</a></li>
                    <li><a>PyCon PSF</a></li>
                    <li><a>Code of Conduct</a></li>
                    <li><a href="/blog">Blog</a></li>
                  </ul>
                </details>
              </li>
              <li><a href="/partners">Partners</a></li>
              <li><a href="/sponsors">Sponsors</a></li>
              <li><a href="/speakers">Speakers</a></li>
              <li><a href="/events">Events</a></li>
              <li>
                <details>
                  <summary>Members</summary>
                  <ul class="p-2">
                    <li><a href="/core-members">Core Members</a></li>
                    <li><a href="/volunteers">Volunteers</a></li>
                    <li><a href="/membership-signup">Membership</a></li>
                  </ul>
                </details>
              </li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </div>
        </div>

        <!-- Web view -->
        <div id="top-nav" class="hidden navbar-center lg:flex">
          <ul class="px-1 menu menu-horizontal">
            <li>
              <details>
                <summary>About</summary>
                <ul class="p-2">
                  <li><a href="/about">About PyCon</a></li>
                  <li><a href="/psf">PyCon PSF</a></li>
                  <li><a href="/coc">Code of Conduct</a></li>
                  <li><a href="/blog">Blog</a></li>
                </ul>
              </details>
            </li>
            <li><a href="/partners">Partners</a></li>
            <li><a href="/sponsors">Sponsors</a></li>
            <li><a href="/speakers">Speakers</a></li>
            <li><a href="/events">Events</a></li>
            <li>
              <details>
                <summary>Members</summary>
                <ul class="p-2">
                  <li><a href="/core-members">Core Members</a></li>
                  <li><a href="/volunteers">Volunteers</a></li>
                  <li><a href="/membership-signup">Membership</a></li>
                </ul>
              </details>
            </li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
      </ul>
    </div>
  </div>
</nav>
