---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<nav class="bg-[#1a4a76] fixed w-full z-20 top-0 start-0">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <!-- REMARKS : Logo is the Home button -->
    <a class="flex items-center space-x-0 rtl:space-x-reverse" href="/">
      <img src="/pyconmy-logo.png" class="w-16 h-16" alt="PyCon MY Logo" />
      <span
        class="self-center text-3xl font-semibold whitespace-nowrap text-white"
        >{SITE_TITLE}
      </span>
    </a>

    <!-- REMARKS : Put aside Login feature for now -->
    <!-- <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <button
        type="button"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >Login
      </button>
    </div> -->

    <div>
      <!-- 
          REMARKS :
          - NavBar Tab as per Kristy's draft: Home - PyCon PSF - Code of Conduct - Sponsors - Speakers - Events - Membership - Contact 
          - chevron-down from https://heroicons.com/
          - Revised 1: removed Home
          - Revised 2: Put PyCon PSf and Code of Conduct under About dropdown
        -->

      <!-- Mobile view -->
      <div class="lg:hidden">
        <button
          class="btn btn-ghost lg:hidden"
          onclick="mobile_menu.showModal()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6 text-white"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m19.5 8.25-7.5 7.5-7.5-7.5"></path>
          </svg>
        </button>
        <dialog id="mobile_menu" class="modal modal-top">
          <ul
            tabindex={0}
            class="modal-box mt-3 z-[1] p-5 bg-base-100 overflow-y-scroll"
          >
            <li>
              <a class="text-lg font-bold">About</a>
              <ul class="p-2">
                <li><a href="/about" class="text-md">About PyCon</a></li>
                <li><a href="/the-psf" class="text-md">The PSF</a></li>
                <li><a href="/coc" class="text-md">Code of Conduct</a></li>
                <li><a href="/blog" class="text-md">Blog</a></li>
              </ul>
            </li>
            <li>
              <a href="/partners" class="text-lg font-bold">Partners</a>
            </li>
            <li>
              <a href="/sponsors" class="text-lg font-bold">Sponsors</a>
            </li>
            <li>
              <a href="/speakers" class="text-lg font-bold">Speakers</a>
            </li>
            <li><a href="/events" class="text-lg font-bold">Events</a></li>
            <li>
              <a class="text-lg font-bold">Members</a>
              <ul class="p-2">
                <li>
                  <a href="/core-member" class="text-md">Core Members</a>
                </li>
                <li><a href="/volunteer" class="text-md">Volunteers</a></li>
                <li>
                  <a href="/membership-signup" class="text-md">Membership</a>
                </li>
              </ul>
            </li>
            <li><a href="/contact" class="text-lg font-bold">Contact</a></li>
          </ul>
          <form method="dialog" class="modal-backdrop">
            <button>close</button>
          </form>
        </dialog>
      </div>

      <!-- Web view -->
      <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1">
          <li class="text-xl font-semibold">
            <details>
              <summary class="text-white hover:text-gray-400">About</summary>
              <ul
                class="shadow menu dropdown-content z-[1] bg-[#F3F4F6] rounded-box w-40 items-center"
              >
                <li><a href="/about" class="py-1">About PyCon</a></li>
                <li><a href="/the-psf" class="py-1">The PSF</a></li>
                <li><a href="/coc" class="py-1">Code of Conduct</a></li>
                <li><a href="/blog" class="py-1">Blog</a></li>
              </ul>
            </details>
          </li>
          <HeaderLink href="/partners">Partners</HeaderLink>
          <HeaderLink href="/sponsors">Sponsors</HeaderLink>
          <HeaderLink href="/speakers">Speakers</HeaderLink>
          <HeaderLink href="/events">Events</HeaderLink>
          <li class="text-xl font-semibold">
            <details>
              <summary class="text-white hover:text-gray-400">Members</summary>
              <ul
                class="p-0 shadow menu dropdown-content z-[1] bg-[#F3F4F6] rounded-box w-40 items-center"
              >
                <li><a href="/core-members" class="py-1">Core Members</a></li>
                <li><a href="/volunteers" class="py-1">Volunteers</a></li>
                <li>
                  <a href="/membership-signup" class="py-1">Membership</a>
                </li>
              </ul>
            </details>
          </li>
          <HeaderLink href="/contact">Contact</HeaderLink>
        </ul>
      </div>
    </div>
  </div>
</nav>
