---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + subpath?.[0];

const whenNotActiveClass =
  "font-montserrat text-sm font-semibold text-white hover:text-gray-700";

const whenActiveClass =
  "font-montserrat text-sm font-semibold text-white hover:text-gray-700";
---

<li>
  <a
    href={href}
    class={isActive ? whenActiveClass : whenNotActiveClass}
    aria-current="page"
  >
    <slot />
  </a>
</li>
