---
---
<div class="inset-0 w-full h-full hidden lg:flex">
    <img class="h-auto w-full" src="/cover_pc.jpg" alt="hero cover">
</div>
<div class="inset-0 w-full h-full lg:hidden">
    <img class="h-auto w-full" src="/cover_mobile.jpg" alt="hero cover">
</div>