---
const {id, open} = Astro.props;
---

<button onclick={`window.${id}.showModal()`}>{open}</button>

<dialog id='{id}'>
  <slot name="main" />
  <form method="dialog">
    <slot name="close" />
  </form>
</dialog>