---
import Card from "./SpeakerCardColour.astro"

interface Speaker {
    image: string,
    name: string,
    title: string
}

const { speakers } = Astro.props as {speakers:Speaker[]};
---

<div class="flex flex-row flex-wrap justify-center gap-4 max-w-full mt-8">

    {speakers.map(speaker => (
      <Card image={speaker.image} name={speaker.name} subtitle={speaker.title}></Card>
))}

</div>



