---
const { image, name, subtitle } = Astro.props;
---

<div
  class="group w-[22rem] h-[32rem] bg-yellow border-[12px] border-pink rounded-lg justify-center mx-2 rounded-[2.5rem] transition-colors duration-300 hover:bg-black-900"
>
<figure class="-m-1">
  <img
    src={image}
    alt={name}
    class="w-[22rem] h-[22rem] object-cover object-top rounded-full border-pink border-[16px]"
  />
</figure>
<div class="pt-4">
  <h2
    class="text-xl text-center text-pink group-hover:text-white font-autobus sm:text-2xl transition-colors duration-300"
  >
    {name}_
  </h2>
  <p
    class="mt-1 text-xs text-center text-pink group-hover:text-yellow font-autobus sm:text-sm transition-colors duration-300"
  >
    {subtitle}
  </p>
</div>
