---
import Card from "./Card.astro"

interface Speaker {
    image: string,
    name: string,
    title: string
}

const { speakers } = Astro.props as {speakers:Speaker[]};
---

<div class="carousel max-w-full mt-8">
  <div class="carousel-item">
    {speakers.map(speaker => (
      <Card image={speaker.image} name={speaker.name} subtitle={speaker.title}></Card>
))}
  </div>
</div>



