---
const { img, alt, link, name, width } = Astro.props;
---

<div class:list={["rounded-lg h-auto bg-white shadow-xl text-center font-semibold flex flex-col items-center",width||"w-48"]}>
  <a href={link}>
    {img && (<figure><img class="p-2" src={img} alt={alt} /></figure>)}
  
  {name&& (<span class="text-black-900">{name}</span>)}
</a>

</div>
