---

---

<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="flex flex-col gap-4 text-center justify-center">
      <div>
        <h1
          class="text-3xl font-extralight tracking-tight text-gray-900 sm:text-4xl"
        >
          TILL
        </h1>
        <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
          Pycon
        </h1>
        <h1
          class="text-3xl font-extralight tracking-tight text-gray-900 sm:text-4xl"
        >
          MY
        </h1>
        <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
          2024
        </h1>
      </div>
      <p class="mt-2 text-lg leading-8 text-gray-600">Don't miss it!</p>
    </div>
    <div class="flex-col md:flex md:flex-row md:space-x-6">
      <article
        class="flex-1 flex max-w-1/2 flex-col items-start justify-between"
      >
        <div class="group relative">
          <h3
            class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600"
          >
            <a href="#">
              <span class="absolute inset-0"></span>
              About PyCon
            </a>
          </h3>
          <p class="mt-5 line-clamp-10 text-sm leading-6 text-gray-600">
            PyCons are conferences about Python and usually done by grassroots
            volunteers within their geographical area. PyCon started first in
            the United States in 2003 in Washington D.C, and have grown
            worldwide and done yearly in many regions and countries like Europe,
            Japan, Australia, Singapore, China South Korea, India and Malaysia.
          </p>
        </div>
      </article>

      <article
        class="flex-1 flex max-w-1/2 flex-col items-start justify-between"
      >
        <div class="group relative">
          <h3
            class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600"
          >
            <a href="#">
              <span class="absolute inset-0"></span>
              About PyCon MY
            </a>
          </h3>
          <p class="mt-5 line-clamp-10 text-sm leading-6 text-gray-600">
            Malaysia had its first mini PyCon in 2014. In 2015, we had our first
            big PyCon MY. After organizing PyCon MY for many years, we realized
            that getting the Python community to get together for a few days a
            year to share knowledge and compare experiences allows the growth of
            ideas and also the exchange of skills, which will lead to a
            spillover of greater cooperation even after the conference is over.
          </p>
        </div>
      </article>
    </div>
  </div>
</div>
