---

---

<!-- Will add the feature of going to the next tab in the future -->
<section class="">
	<div>
		<h1 class="text-center text-4xl font-semibold">Keynote Speakers</h1>
		<div class="flex flex-wrap items-center justify-center">
			<div class="p-4">
				<div class="rounded-lg p-6">
					<img
						class="h-full rounded w-[500px] object-cover object-center mb-6"
						src="https://dummyimage.com/600x400"
						alt="content"
					/>
				</div>
			</div>
			<div class="p-4">
				<div class="rounded-lg p-6">
					<img
						class="h-full rounded w-[500px] object-cover object-center mb-6"
						src="https://dummyimage.com/600x400"
						alt="content"
					/>
				</div>
			</div>
		</div>
	</div>
	<div>
		<h1 class="text-center text-4xl font-semibold my-8">Meet Our Speakers</h1>
		<div class="grid grid-cols-1 md:grid-cols-3">
			<div
				class="bg-gray-200 m-8 rounded-lg shadow-lg shadow-gray-400ok ke items-center flex flex-col">
				<div class="avatar p-4">
					<div class="w-40 rounded-full">
						<img
							class=""
							src="https://dummyimage.com/200x200"
							alt="avatar"
						/>
					</div>
				</div>
				<h1 class="font-bold text-2xl">Jane Doe</h1>
				<h1 class="font-semibold text-xl mb-2">Data Scientist</h1>
			</div>
			<div
				class="bg-gray-200 m-8 rounded-lg shadow-lg shadow-gray-400 items-center flex flex-col">
				<div class="avatar p-4">
					<div class="w-40 rounded-full">
						<img
							class=""
							src="https://dummyimage.com/200x200"
							alt="avatar"
						/>
					</div>
				</div>
				<h1 class="font-bold text-2xl">Jane Doe</h1>
				<h1 class="font-semibold text-xl mb-2">Data Scientist</h1>
			</div>
			<div
				class="bg-gray-200 m-8 rounded-lg shadow-lg shadow-gray-400 items-center flex flex-col">
				<div class="avatar p-4">
					<div class="w-40 rounded-full">
						<img
							class=""
							src="https://dummyimage.com/200x200"
							alt="avatar"
						/>
					</div>
				</div>
				<h1 class="font-bold text-2xl">Jane Doe</h1>
				<h1 class="font-semibold text-xl mb-2">Data Scientist</h1>
			</div>
		</div>
	</div>
	<div class="flex flex-row items-center justify-center mb-4 gap-4">
		<div class="rounded-full bg-gray-400 w-2 h-2"></div>
		<div class="rounded-full bg-gray-300 w-2 h-2"></div>
		<div class="rounded-full bg-gray-300 w-2 h-2"></div>
	</div>
</section>
