---
import Title from "../Title.astro";
import SponsorCard from "./SponsorCard.astro";
---

<div class="py-5">
  <Title>Our Sponsor</Title>
  <div class="flex flex-wrap justify-center gap-16 py-5">
    <SponsorCard
      image="https://dummyimage.com/300x200"
      imageAlt="Platinum Sponsor"
      sponsorTier="Platinum Sponsor"
    />
    <SponsorCard
      image="https://dummyimage.com/300x200"
      imageAlt="Platinum Sponsor"
      sponsorTier="Gold Sponsor"
    />
    <SponsorCard
      image="https://dummyimage.com/300x200"
      imageAlt="Platinum Sponsor"
      sponsorTier="Silver Sponsor"
    />
    <SponsorCard
      image="https://dummyimage.com/300x200"
      imageAlt="Platinum Sponsor"
      sponsorTier="Bronze Sponsor"
    />
  </div>
</div>
